<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>{{ config.Datacenter }}</title>
</head>
<body>
<div class="scrollingtable">
	<div>
	  <div>
		<table>
			<caption>
				<table><tr>
					<td></td><label> {{ config.Datacenter }} </label></td>
					<td></td><form action="/" method="GET" target="_blank"><input type="submit" value="Открыть в новой вкладке"></form></td>
					<td></td><form action="/All" method="GET"><input type="submit" value="Все составы"></form></td>
					<td></td><form action="/OnlyTroublesCpSorted3h" method="GET"><input type="submit" value="Проблемные за три часа"></form></td>
				</tr></table>
				</caption>
		  <thead>
			<tr>
				{% for header in json_input.headers %}
					<th><div label={{ header }}></div></th>
				{% endfor %}
			  <th class="scrollbarhead"/>
			</tr>
		  </thead>
		  <tbody>
			{% for row in json_input.rows %}
			  <tr>
				{% for cell in row %}
				  {% if loop.index == 1 %}
				    <td><a href="http://{{ config.ExternalEmoivAddress }}/Train/{{ cell }}" target="_blank"><div style="height:100%;width:100%">{{ cell }}</div></a></td>
			      {% else %}
				    <td>
					  {{ cell }}
				    </td>
			      {% endif %}
				{% endfor %}
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
</body>
<!--[if lte IE 9]><style>.scrollingtable > div > div > table {margin-right: 17px;}</style><![endif]-->