<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>БыстроБорда</title>
</head>
<body>
	<table>
		{% for Row in Sheet %}
			<tr bgcolor="{{ Colors[loop.index0] }}">
				{% for Key, Value in Row.items() %}
					<td > 
						{% if Key == "Object" %}
							{{ Value }} 
						{% else %}
							<a href="{{ Value }}" target="_blank">
								<div style="height:100%;width:100%">
								  	{{ Key }}
								</div>
							</a>
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</body>